.App {
  text-align: center;
  padding: 2em 3.5em;
}

.App form {
  margin-bottom: 0.8em;
}

.App h4 {
  text-align: left;
  margin: 0.5em 0;
}

.App input[type="text"] {
  height: 30px;
  margin-right: 1em;
  width: 30%;
}

.App input[type="submit"] {
  height: 34px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: 1s ease-out 0s 1 slideFromRight;
}

@keyframes slideFromRight {
  0% {
    transform: translate(30%);
  }
  100% {
    transform: translate(0);
  }
}